html,body{
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    background: #050816;
    overflow-x:hidden;
}

.link-reset {
    text-decoration: none;
    padding: 0;
    margin: 0;
  
  }
  

/* Sky --------------------------------------------------------------------------------------------*/
  .box {
    /*  needed for firefox to have a valid output */
    flex: 1;
    /**/
    background:linear-gradient(360deg, #FED58D, #FDBD99, #FDABA5, #e0aee9);

	height: 100vh;
  }
  
  @keyframes a{
    from {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
  }

  .floating {
    position: absolute;
    --start: 100%;
    top: 0; /* Initial top position, will be randomized later */
    animation: moveLeft 50s linear infinite;
  }

  .floating2 {
    position: absolute;
    --start: 100%;
    top: 0; /* Initial top position, will be randomized later */
    animation: moveLeft 60s linear infinite;

  }

  .floating3 {
    position: absolute;
    --start: 100%;
    top: 0; /* Initial top position, will be randomized later */
    animation: moveLeft 70s linear infinite;
    animation-delay: 2s;
  }

  .floating4 {
    position: absolute;
    --start: 100%;
    top: 0; /* Initial top position, will be randomized later */
    animation: moveLeft 80s linear infinite;
    animation-delay: 7s;
  }

  @keyframes moveLeft {
    0% {
      left: --start; /* Start at the right edge */
    }
    100% {
      left: -100%; /* Move off-screen to the left */
    }
  }


  .cloud {
    width: 500px;
    height: 275px;
    border-radius: 50%;
    position: absolute;
  }
  
  #cloud-back {
    filter: url(#filter-back);
    box-shadow:  300px 30px -20px #fff;
  }
  
  #cloud-mid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
      left: -25vw;
  }
  
  #cloud-front {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
      left: -25vw;
  }







  .static-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("./assets/white-noise-1.jpg");
    opacity: 45%;

    animation: static 0.2s linear infinite both;
  }

  @keyframes static{
    0% {
        transform: translateX(10%) translateY(10%);
    }
    100% {
        transform: translateX(-10%) translateY(-10%);
    }
  }

/* Ocean --------------------------------------------------------------------------------------------*/


.wave-container {
  width: 100%; /* Adjust to fit your design */
}

.wave {
  width: calc(200%);
  animation: 10s moveWave cubic-bezier( 0.35, 0.40, 0.70, 0.50) infinite;
  position: absolute;
  transform: translate3d(0, 0, 0);
  opacity: 50%;

  
}

.wave2 {
  width: calc(200%);
  animation: 15s moveWave cubic-bezier( 0.35, 0.40, 0.70, 0.50) -.125s infinite, flow 7s ease -1.25s infinite;

  z-index: 20;
}


@keyframes moveWave {
  0% {
    transform: translateX(0) ;
  }
  50% {
    transform: translateX(-25%) ;
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes flow {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.fish-container{
  animation: var(--swim-type) 30s linear infinite;
  animation-delay: var(--swim-delay);
}
.fish {
  height: 10em;
  width: 10em;
  background: #dddddd;
  transform: rotate(45deg);
  border-radius: 95% 0;
  z-index:10;
  position: relative;
}

.fish-back {
  height: 10em;
  width: 10em;
  background: #dddddd;
  transform: rotate(45deg);
  border-radius: 95% 0;
  z-index:1;
  position: relative;
}

.fish-eye{
  height: 1em;
  width: 1em;
  margin-top: 3.5em;
  
  background-color: #aca6a6;
  border-radius: 50%;
  z-index:11;
  position: absolute;

}

.fish-eye-back{
  height: 1em;
  width: 1em;
  margin-top: 3.5em;
  
  background-color: #aca6a6;
  border-radius: 50%;
  z-index:2;
  position: absolute;

}


.fish-tail {
	border-top: var(--size-1) solid transparent;
  border-left: var(--size-2) solid var(--border-left-color);
	border-bottom: var(--size-1) solid transparent;
  rotate: var(--tail-rotate);
  margin-left: var(--tail-x);
  margin-top: var(--tail-y);
  z-index:11;
  position: absolute;
  animation: swish 3s infinite;
  

}

.fish-tail-back {
	border-top: var(--size-1) solid transparent;
  border-left: var(--size-2) solid var(--border-left-color);
	border-bottom: var(--size-1) solid transparent;
  rotate: var(--tail-rotate);
  margin-left: var(--tail-x);
  margin-top: var(--tail-y);
  z-index:2;
  position: absolute;
  animation: swish 3s infinite;
  

}

@keyframes swish {
  0% {
    transform: rotateZ(-5deg) scaleX(1);
  }
  50% {
    transform: rotateZ(5deg) scaleX(1.5);
  }
  100% {
    transform: rotateZ(-5deg) scaleX(1);
  }
}

@keyframes swim1 {
  0%{
    left: -50%;
  }
  100%{
    left:150%
  }
}

@keyframes swim2 {
  0%{
    left: 100%;
  }
  100%{
    left: -50%;
  }
}




/* Night Sky --------------------------------------------------------------------------------------------*/
.rect{
  --deg1:45deg;
  --deg2: 60deg;
  --deg3: 45deg;
 animation: tilt ease-in-out 5s infinite;
}

.rect1{
  --deg1: 50deg;
  --deg2: 65deg;
  --deg3: 50deg;
 animation: tilt ease-in-out 5s infinite;
}

.rect2{
  --deg1: 55deg;
  --deg2: 70deg;
  --deg3: 55deg;
 animation: tilt ease-in-out 5s infinite;
}

.rect3{
  --deg1: 60deg;
  --deg2: 75deg;
  --deg3: 60deg;
 animation: tilt ease-in-out 5s infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(var(--deg1)) ;
  }
  50% {
    transform: rotate(var(--deg2)) ;
  }
  100% {
    transform: rotate(var(--deg3));
  }
}


.star{
  position: absolute;
  top: 20%;
  left: 80%;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
  animation:  animat 3s linear infinite; 
}


.star-tail {
  position: absolute;
  top: -150%;
  left: 0px;
  z-index: -1;
  

}


.star-tail-path {
  stroke: linear-gradient(to right, #f1f5f7, #d80b77);
}


@keyframes animate {
  0%
  {
      transform: rotate(345deg)  translateX(0) translateY(0px);
      opacity: 1;
  }
  70%
  {
      opacity: 1;

  }
  100%
  {
      transform: rotate(300deg) translateX(-1500px) translateY(-100px);
      opacity: 0;

  }
  
}








.shooting_star {
  position: absolute;
  left: 10%;
  top: 10%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg,
          #eef0f5, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #d7dff0);
  animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;

}

.shooting_star::before
.shooting_star::after{
  content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg,rgba(0, 0, 255, 0),#eaeef8, rgba(0, 0, 255, 0));
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(90deg);
}

.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-90deg);
  transform: translateX(50%) rotateZ(-90deg);
}


@keyframes shooting {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }

  100% {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
  }
}

@keyframes tail{
  0%{
    width: 0%;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0px;
  }

}

@keyframes shining {
  0% {
      width: 0;
  }

  50% {
      width: 30px;
  }

  100% {
      width: 0;
  }
}

/* Leaves --------------------------------------------------------------------------------------------*/

.leaf {
	width: var(--leaf-width);
	height: var(--leaf-height);
	border-radius: 0 40px;
	background-color: var(--leaf-color);
  animation: blowing var(--leaf-speed) linear infinite;
  animation-delay: var(--leaf-delay);
  
}
.leaf::before {
  content: '';
  position: absolute;
  top: 40%; 
  left: 85%;
  transform: translateX(-50%) rotate(-45deg);
  width: 5px;
  height: 50px; 
  background-color: var(--leaf-color2); 
  border-radius: 10px; 
}




@keyframes blowing {
  0%{
    -webkit-transform: translate3d(0%, -20vh , 0)
    rotate(var(--leaf-rotate));
      transform: translate3d(0%, -20vh , 0)
      rotate(var(--leaf-rotate));
      opacity: 100%;
  } 

  100%{
    -webkit-transform: translate3d(-500%, 150vh , 0)
    rotate(270deg) ;
      transform: translate3d(-500%, 150vh , 0) 
      rotate(270deg);
      opacity: 20%; 

  } 
}


/*----Snow----------------------------------------------------------------------------------------------------*/

.snow-container {
  width: 100%; /* Adjust to fit your design */
  height: 100vh;
}


.snow {
  width: calc(150%);
  position: absolute;

}


.snowflake {
  width: 4px;
  height:4px;
  border-radius: 100%;
  background-color: #ffffff;
  animation: falling linear infinite;
  position: absolute;
  top: -10%;
}

@keyframes falling {
  0%{
    -webkit-transform: translate3d(0%, -20vh , 0);
      transform: translate3d(0%, -20vh , 0);
      opacity: 100%;
  } 

  100%{
    -webkit-transform: translate3d(-500%, 100vh , 0);
      transform: translate3d(-500%, 100vh , 0);
      opacity: 20%; 

  } 
}



.Title-1{
    color: #FFFFFF;
    z-index: 3;
    margin-top: -45%;
    margin-left: 60%;
    margin-bottom: 40%;
    position: relative;
    font-size: 2vw;
    font-family: "Lexend_MegaR";
    
}

.Title-2{
    color: #FFFFFF;
    z-index: 3;
    margin-top: -40%;
    margin-left: 60%;
    margin-bottom: 40%;
    position: relative;
    line-height: 90%;
    font-size: 6vw;
    font-family: "Mr_Dafoe";

    
}

h1{
    font-size:5vh; 
    font-family: "Lexend_MegaR";
}
h2{
    margin-left: -1%; 
}


/*Individaul square code put at bottom because there are so many of them*/
.squares{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: 0;
}


.About-container{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
    
    
}



.About{
    margin: 0%;
    padding: 1%;
    border-radius: 30px;
    margin-right: 40%;
    background-color: #352185;
    clear: none;
    display: flex;
    flex-direction: column;
    position: relative;
    color:aliceblue;
    z-index: 1;
    font-family: "Lexend_MegaR";
    
}

.Edu-container{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%; 
}

.Education{
    margin: 0%;
    padding: 1%;
    border-radius: 30px;
    margin-left: 40%;
    background-color: #352185;
    clear: none;
    display: flex;
    flex-direction: column;
    position: relative;
    color:aliceblue;
    z-index: 1;
    line-height: 2;
    font-family: "Lexend_MegaR";
    
}


.Exp-container{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%; 
}

.Experience{
    margin: 0%;
    padding: 1%;
    border-radius: 30px;
    margin-right: 40%;
    background-color: #352185;
    clear: none;
    display: flex;
    flex-direction: column;
    position: relative;
    color:aliceblue;
    z-index: 1;
    line-height: 2;
    font-family: "Lexend_MegaR";
    
}

.Edu-Accordian{
    background: #000;
}

.Exp-List{
    line-height: 180%;
}

.Projects-Container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    margin-top: 10%;
    z-index: 1;
    width: 100%;
    background: #D9D9D9;
}
.Bottom-Container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 40%;
    z-index: 1;
    width: 100%;
    background: #000000;
    color:#FFFFFF;
    font-family: "Lexend_MegaR";
    
}

.icons{
    transform: scale(1.8);
    margin-left: 10%;
    padding-top: 2%;
    color: #FFFFFF;
}






/* Fonts --------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Lexend_MegaR';
    src: url('./assets/lexendmega-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/lexendmega-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mr_Dafoe';
    src: url('./assets/mrdafoe-regular-webfont.woff2') format('woff2'),
         url('./assets/lexendmega-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/Inter-VariableFont_opsz_wght.woff2') format('woff2'),
         url('/src/assets/Inter-VariableFont_opsz_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Megrim';
    src: url('/src/assets/Megrim-Regular.woff2') format('woff2'),
         url('/src/assets/Megrim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/Nunito-VariableFont_wght.woff2') format('woff2'),
       url('/src/assets/Nunito-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/Rubik-VariableFont_wght.woff2') format('woff2'),
       url('/src/assets/Rubik-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUSE';
  src: url('/src/assets/SUSE-VariableFont_wght.woff2') format('woff2'),
       url('/src/assets/SUSE-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* responsive view --------------------------------------------------------------------------------------------*/