html,body{
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    background: #0C0917;
}

.App-header {
    background-color: #A090DD;
    height: 70px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border-radius: 30px;
    z-index: 3;
    opacity: 80%;
    position: relative;
  }

.Header-container {
    height: 90px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

.Background-image{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -10%;
    top: 0%;
    z-index: 1;
    width: 100%;
}

h1{
    font-size:2rem; 
}

.About{
    margin: 5%;
    padding: 1%;
    border-radius: 30px;
    background-color: #352185;
    clear: none;
    display: flex;
    flex-direction: column;
    position: relative;
    color:aliceblue;
    z-index: 1;
    font-size:1rem;
    font-family: "Lexend_MegaR";
}

@font-face {
    font-family: 'Lexend_MegaR';
    src: url('./assets/lexendmega-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/lexendmega-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}